* {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: aliceblue;
 }
 :-moz-placeholder {
    color: aliceblue;
 }
 :-ms-input-placeholder {
    color: aliceblue;
 }

body {
    position: relative;
    color: aliceblue;
    background-color: #bcbcbc;
}

button {
    background-color: white;
}

#organizer {
    display: flex;
    position: relative;
    width: 600px;
    height: 800px;
    margin: 20px auto auto auto;
    flex-direction: column;
}

.organizer-records {
    border: 1px solid black;
    border-radius: 7px;
    width: 100%;
    height: 92%;
    overflow: auto;
    filter: drop-shadow(2px 3px 3px rgb(87, 87, 202));
    background-color: #40406f;
}

.organizer-input {
    display: flex;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: auto;
    width: 100%;
    height: 7%;
    filter: drop-shadow(2px 3px 3px rgb(87, 87, 202));
    background-color: #40406f;
}

.organizer-input-text {
    margin: 5px;
    padding-left: 3px;
    padding-top: 3px;
    width: 80%;
    border: 1px solid black;
    resize: none;
}

.organizer-input-text:focus {
    border: none;
    resize: none;
    outline: none;
}

.organizer-input-buttons {
    display: flex;
}

.input-btn {
    margin: auto 1px;
    width: 36px;
    height: 36px;
    border: 1px solid black;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.input-btn:hover {
    cursor: pointer;
}

.timer {
    font-size: x-large;
    align-self: center;
    width: 60px;
    margin: auto;
}

.organizer-input-audio {
    background-image: url(../image/audio.png);
}


.image-ok {
    background-image: url(../image/check.png);
}

.image-cancel {
    background-image: url(../image/cancel.png);
    background-size: auto;
}


.organizer-input-video {
    background-image: url(../image/camera.png);
}

.organizer-input-enter {
    background-image: url(../image/send.png);
}
.organizer-input-image {
    background-image: url(../image/img.png);
}
.organizer-input-file {
    background-image: url(../image/file.png);
}
.organizer-input-geo {
    background-image: url(../image/geo.png);
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 10%;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 25%;
}

.modal-text {
    padding: 10px;
}

.modal-title {
    margin-bottom: 5px;
    font-weight: normal;
}

.modal-message {

}

.modale-input {
    padding: 0px 10px 10px 10px;
}

.modal-input-title {
    font-weight: normal;
    margin-bottom: 5px;
}

.modal-input-text {
    width: 100%;
    height: 25px;
    padding-left: 3px;
}

.modal-input-buttons {
    display: flex;
    position: relative;
    margin-top: 7px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}

.notification {
    position: absolute;
    width: 240px;
    height: 150px;
    top: -20px;
    left: 105px;
    border: 1px solid black;
    background-color: white;
}

.modal-cancel {
    margin-left: auto;
    margin-right: 7px;
    width: 90px;
}

.modal-ok {
    width: 50px;
}

.record {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 95%;
    margin: 4px auto 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #6363bd;
}

.record-date {
    margin-left: auto;
}

.coordinates {
    display: flex;
}

.img-coordinates {
    background-image: url(../image/pin.png);
    width: 16px;
    height: 16px;
    margin-left: 3px;
    align-self: center;
}

.input-error {
    position: absolute;
    padding: 6px;
    top: -8px;
    background-color: rgb(252, 146, 146);
    border: 1px solid black;
}

.none {
    display: none;
}
